!!! 5
%html
  %head
    %title Kolhacampus
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    %header#site-header
      %nav#site-nav
        %ul#nav-menu.semantic
          %li#logo
            %a.rep.sprite{:href => root_path}= '%s %s' % [t(:radio),t(:kol_hacampus)]
          %li#radio-menu.menu-item
            %strong.menu-label= t(:radio)
            %ul.sub-menu.semantic
              %li.sub-menu-item.expand
                %a= t(:schedule)
                %article.menu-item-content &nbsp;
              %li.sub-menu-item
                %a= t(:podcast_library)
              %li.sub-menu-item
                %a= '%s %s%s' % [t(:video),t(:and),t(:images)]
              %li.sub-menu-item
                %a= '%s %s%s' % [t(:soon),t(:in),t(:radio)]
              %li.sub-menu-item
                %a= t(:most_listened)
          %li#blog-menu.menu-item
            %strong.menu-label= t(:blog)
          %li#neighbourhood-menu.menu-item
            %strong.menu-label= t(:neighbourhood)
          %li#search-menu
            %strong.sprite.rep= t(:search)
      %nav#social-nav
        %ul#social-menu.semantic
          %li.social-menu-item
            %a.fb.sprite.rep{:href => 'http://www.facebook.com/kol.hacampus', :target => '_blank'} Facebook
          %li.social-menu-item
            %a.tw.sprite.rep{:href => 'https://twitter.com/#!/KolHaCampus106', :target => '_blank'} Twitter
          %li.social-menu-item
            %a.yt.sprite.rep{:href => 'http://www.youtube.com/user/KolHacampus', :target => '_blank'} YouTube
          %li
            %a.sprite.rep.colman{:href => 'http://www.colman.ac.il/', :target => '_blank'} College of Management


      %div#player

    %div#site-content

    = javascript_include_tag "application"
